window#waybar {
  color: #fff;
  background: rgba(0,0,0,.3);
  margin: 5px;
  border: none;
  font-size: 14px;
  font-family: "Adwaita Sans";
  /* font-family: "'Adwaita Sans',JetBrainsMono Nerd Font,JetBrainsMono NF"; */
  min-height: 25px;
}

#custom-logo {
  padding: 0 10px;
}

#battery,
#custom-clipboard,
#custom-colorpicker,
#custom-powerDraw,
#bluetooth,
#pulseaudio,
#network,
#disk,
#memory,
#backlight,
#cpu,
#temperature,
#custom-weather,
#idle_inhibitor,
#jack,
#tray,
#window,
#workspaces,
#clock {
  padding: 0 6px;
}

#workspaces button.active {
  background-color: rgba(0,255,255,.3);
}

#workspaces button.urgent {
  background-color: rgba(255,0,0,.3);
}

window#waybar button {
  color: #fff;
  background: transparent;
  box-shadow: inset 0 0;
  border-radius: 0px;
}

window#waybar button:hover {
  border-color: transparent;
  background-color: rgba(255, 255, 255, .3);
}

#clock {
  background-color: rgba(255, 255, 255, .3);
}

.custom-spotify, .custom-chromium {
    padding: 0 10px;
    margin: 0 4px;
}

.custom-spotify {
    background-color: #1DB954;
    color: black;
}

.custom-chromium {
    background-color: #f5c542;
    color: black;
}

.not-power label { padding: 0 10px; font-size: 16px; }

#custom-power { padding: 0 12px 0 0px; }
